<!DOCTYPE html>
<html ng-app="app">
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link href="angular-xeditable/css/xeditable.css" rel="stylesheet">
<script src="angular-xeditable/js/xeditable.js"></script>
<link rel="stylesheet" href="main.css">
<script src="etcdbrowser.js"></script>
</head>
<body>
<script type="text/ng-template" id="prop-block">
  <button type="button" class="btn btn-default btn-sm" ng-click="addNode(activeNode)" title="Add Property">
    Add Property
  </button>
  <table class="property-table">
    <tr ng-repeat="node in activeNode.nodes | orderBy:'name'" ng-if="!node.dir" ng-class-odd="'odd-row'">
      <td style="text-align:left;font-weight:bold;padding: 5px 4px;">
        <span>{{node.name}}:</span>
      </td>
      <td>
        <span class="value" editable-text="node.value" onbeforesave="updateNode(node,$data)">{{node.value || '(empty)'}}</span>
      </td>
      <td>
        <button type="button" class="btn btn-default btn-sm" ng-click="copyNode(node)" title="Copy Node">
          <span class="glyphicon glyphicon-floppy-open"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="deleteNode(node)" title="Delete Node">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </table>
</script>
<script type="text/ng-template" id="tree-item">
  <span ng-click="toggleNode(node)" class="glyphicon glyphicon-minus toggle-icon" ng-if="node.open"></span>
  <span ng-click="toggleNode(node)" class="glyphicon glyphicon-plus toggle-icon" ng-if="!node.open"></span>
  <a href="" ng-click="setActiveNode(node)" ng-if="node.dir" class="{{node.key == activeNode.key ? 'active-node' : ''}}">{{node.name}}</a> 
  <div class="btn-group">
    <button ng-if="node.open" ng-click="createDir(node)" class="btn btn-default btn-sm" type="button" title="Create Directory">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-if="node.open" ng-click="copyDir(node)" class="btn btn-default btn-sm" type="button" title="Copy Directory">
      <span class="glyphicon glyphicon-floppy-open"></span>
    </button>
    <button ng-if="node.open" type="button" class="btn btn-default btn-sm" ng-click="deleteDir(node)" title="Delete Directory">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  <ul >
    <li ng-repeat="node in node.nodes | orderBy:'name'" ng-include="'tree-item'" ng-if="node.dir"></li>
  </ul>
</script>
  <div class="container-fluid" role="main" ng-controller="NodeCtrl">
    <h1 class="warning">etcd browser</h1>
    <form ng-submit="submit()">
      <div class="input-group" ng-submit="submit()">
        <input type="text" class="form-control" ng-model="urlPrefix" placeholder="http://localhost:4001/v2/keys">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>
    <div ng-if="error" class="alert alert-danger alert-dismissible" role="alert">{{error}}</div>
    <div class="row">
      <div class="col-md-4">
        <div class="tree prop-block" >
          <ul>
            <li>
              <a href="#" ng-click="setActiveNode(root)" class="{{root.key == activeNode.key ? 'active-node' : ''}}">root</a> 
              <div class="btn-group">
                <button ng-click="createDir(root)" class="btn btn-default btn-sm" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
              <ul>
                <li ng-repeat="node in root.nodes | orderBy:'name'" ng-include="'tree-item'" ng-if="node.dir"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="prop-block" ng-include="'prop-block'" ng-if="activeNode">
      </div>
    </div>
  </div>
</body>
</html>


